{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in history %}
          <tr>
            <th scope="row">{{ stock.symbol }}</th>
            <td>{{ stock.name }}</td>
            <td class="font-weight-bold">{{ stock.status }}</td>
            <td>{{ stock.quantity }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}